@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');   

* {
  box-sizing: border-box;
}

html {
  background-color: #f7f1e8;
}

body {
  margin: 0;
  background-color: #f7f1e8;
  font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#root {
  width: 100%;
  min-height: 100svh;
  background-color: #f7f1e8;
}